{% extends "template.html" %}
{% block conteudo %}
<div class="container">
        
        <!-- código omitido -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul id="messages" class="list-unstyled">
            {% for message in messages %}
            <li class="alert alert-success">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- código omitido -->

    <h1>Criar Conta</h1>
    <form action="{{ url_for('cadastro_bd_conta') }}" method="POST" enctype="multipart/form-data">
        <fieldset>
                {{ form.csrf_token() }}
                <div class="form-group">
                        {{ form.nome_completo.label(class="form-label") }}
                        {{ form.nome_completo(class="form-control") }}
                </div>
                <div class="form-group">
                        {{ form.data_nascimento.label(class="form-label") }}
                        {{ form.data_nascimento(class="form-control") }}
                </div>
                <div class="form-group">
                        {{ form.nome_usuario.label(class="form-label") }}
                        {{ form.nome_usuario(class="form-control") }}
                </div>
                <div class="form-group">
                        {{ form.senha.label(class="form-label") }}
                        {{ form.senha(class="form-control") }}
                </div>
                <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                        {{ form.tipo_usuario.label(class="form-label") }}
                        {{ form.tipo_usuario(class="form-select") }} 
                </div>
        </fieldset>
        <br>
        <div>
                <input type="checkbox" id="concordar-politica" required>
                <label for="concordar-politica">Ao se cadastrar, você declara estar de acordo com nossa <a href="{{ url_for('politica_privacidade') }}" target="_blank">Política de Privacidade</a>.</label>
                <br>
                {{ form.salvar(class="btn btn-primary") }}
                 <a class="btn btn-danger" href="{{  url_for('index') }}">Voltar</a>
        </div>
    </form>
</div>
{% endblock %}