{% extends "template.html" %}
{% block conteudo %}
<div class="container">
    
    <!-- código omitido -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul id="messages" class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- código omitido -->
    
        <h2 class="text-start">Bem-vindo ao Tutor Match!</h2>
    <p>O Tutor Match é uma plataforma digital criada com o objetivo de conectar professores e alunos do CEU Parque
        Bristol, proporcionando oportunidades de aprendizado e desenvolvimento para ambas as partes.</p>
    <p>Nossa missão é promover a troca de conhecimento e experiências, possibilitando que os professores compartilhem
        seu saber e os alunos ampliem seus horizontes educacionais.</p>
    <p>Acreditamos que o ensino vai além das quatro paredes da sala de aula, e por isso buscamos criar um ambiente
        colaborativo e inclusivo, onde todos tenham a oportunidade de aprender e crescer juntos.</p>
    <h3>Nossos Objetivos:</h3>
    <ul>
        <li>Conhecer os stakeholders do CEU Parque Bristol.</li>
        <li>Identificar as necessidades educacionais da comunidade.</li>
        <li>Conectar professores dispostos a compartilhar conhecimento com alunos interessados em aprender.</li>
        <li>Analisar a qualidade das interações na plataforma.</li>
        <li>Verificar se a plataforma está cumprindo sua missão de compartilhar anseios e expectativas.</li>
    </ul>
</div>
{% endblock %}