{% extends "template.html" %}
{% block conteudo %}
<body>
    <div class="container">
        <h4 class="text-start">Política de Privacidade</h4>
        <p>Esta Política de Privacidade descreve como as informações pessoais dos usuários são coletadas, utilizadas e
            armazenadas pelo nosso site.</p>

        <h4 class="text-start">1. Coleta de Dados</h4>
        <p>Coletamos informações pessoais dos usuários quando eles se registram em nosso site, preenchem formulários ou
            interagem com os recursos oferecidos em nosso site.</p>

        <h4 class="text-start">2. Uso dos Dados</h4>
        <p>As informações pessoais coletadas são utilizadas para fornecer e manter nosso serviço, para notificar os
            usuários sobre alterações em nosso serviço, para permitir a participação em recursos interativos do nosso
            site e para fornecer suporte ao cliente.</p>

        <h4 class="text-start">3. Armazenamento dos Dados</h4>
        <p>As informações pessoais dos usuários são armazenadas em um ambiente seguro e protegido contra acessos não
            autorizados, vazamentos ou violações.</p>

        <h4 class="text-start">4. Compartilhamento dos Dados</h4>
        <p>Não compartilhamos informações pessoais dos usuários com terceiros, exceto quando necessário para fornecer
            nossos serviços ou cumprir obrigações legais.</p>

        <h4 class="text-start">5. Consentimento</h4>
        <p>Ao utilizar nosso site, os usuários consentem com nossa Política de Privacidade e concordam com a coleta e
            uso de suas informações pessoais conforme descrito nesta política.</p>

        <p>Para obter mais informações sobre como protegemos a privacidade dos usuários, entre em contato conosco.</p>

        <p>Última atualização: 05 de Maio de 2024</p>
    </div>
</body>

{% endblock %}